/**** FARBEN & FONTS


Grün
#c6d138

Anthrazit
#575756

Grau
#dadada
besser:
#eaeaea

Gelb
#ffd100

Myriad Pro Black
font-family: myriad-pro, sans-serif;
font-weight: 900;
font-style: normal;

Myriad Pro Bold
font-family: myriad-pro, sans-serif;
font-weight: 700;
font-style: normal;

Myriad Pro Italic
font-family: myriad-pro, sans-serif;
font-weight: 400;
font-style: italic;

Myriad Pro Light
font-family: myriad-pro, sans-serif;
font-weight: 300;
font-style: normal;

Myriad Pro Regular
font-family: myriad-pro, sans-serif;
font-weight: 400;
font-style: normal;

Myriad Pro Semibold
font-family: myriad-pro, sans-serif;
font-weight: 600;
font-style: normal;

Anivers Regular
font-family: anivers, sans-serif;
font-weight: 400;
font-style: normal;

****/

/**** BASICS ****/
:root {
    font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1.8rem;
}
body {
  position: relative;
}
b {
  font-weight: 900;
}
p a {
  color: black;
  text-decoration: underline;
}
p a:hover {
  /* color: rgba(0, 0, 0, 0.75) */
  color: #c6d138;
}
em {
	color: black !important;
}

/**** HEADER & NAV ****/
.logo {
  height: 9.8rem;
}
.uk-sticky {
padding-top:0.6rem;
background-color: white;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: white;
  margin-bottom: 2rem;
}
.uk-navbar-container:not(.uk-navbar-transparent):last-of-type {
  background: white;
  margin-bottom: 1.2rem;
}
.uk-navbar-item {
  padding-left: 0;
}
ul.uk-navbar-nav li a {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  color: black;
  min-height: 5rem;
}
.uk-navbar-right ul.uk-navbar-nav li a {
  min-height: 10rem;
  align-items: flex-end;
}
.uk-navbar-right ul.uk-navbar-nav li a:hover {
  color: #c6d138;
}
.uk-navbar-right ul.uk-navbar-nav li:nth-of-type(2) a {
  font-weight: 900;
}
.uk-navbar-nav, .uk-navbar-left {
  width: 100%;
}
.uk-navbar-left li {
    width: 20%;
}
.uk-navbar-left li a {
  justify-content: left;
  border-right: 0.4rem solid white;
  background: #c6d138;
}
.uk-navbar-left li:last-of-type a {
  border-right: none;
}
.uk-navbar-left li a:hover, .uk-navbar-left li.active a {
  color: #c6d138;
  background: #575756;
}

/**** SUBNAVI ****/
.uk-navbar-dropdown {
  background-color: rgba(218, 218, 218, 0.95);
  width: calc(20% - 0.4rem);
  padding: 0;
  margin: 0;
}
.nav-bottom li:last-of-type .uk-navbar-dropdown {
  background-color: rgba(218, 218, 218, 0.9);
  width: 20%;
  padding: 0;
  margin: 0;
}
ul.uk-navbar-dropdown-nav li a, .uk-navbar-left li.active ul.uk-navbar-dropdown-nav li a {
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  justify-content: left;
  border-right: none;
  background: transparent;
  min-height: auto;
  padding: 1rem 3rem 1rem 1.5rem;
}
.uk-navbar-left li.active ul.uk-navbar-dropdown-nav li a:hover {
  color: #c6d138;
  background: #575756;
}
.uk-navbar-left li.active ul.uk-navbar-dropdown-nav li a.active {
  color: #898989;
}
ul.uk-navbar-dropdown-nav li {
    width: 100%;
}

/**** BILD MIT TITEL ****/
.header-titel-smartphone {
  display: none;
}
.header-titel-smartphone-text {
  display: none;
}
.bild-titel h1 {
  font-family: anivers, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.09rem;
  font-size: 9rem;
  line-height: 9rem;
  color: white;
  margin:0;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}
.bild-titel p {
  font-size: 1.8rem;
  color: white;
  margin: 0 0 0 0.6rem;
 text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}
.bild-titel p a {
  color: white;
  text-decoration: underline;
}
.bild-titel p em {
	color: white;
}
.bild-titel h1.titeldunkel, .bild-titel p.titeldunkel, .bild-titel p.titeldunkel a {
  color: black;
text-shadow: none;
}

/**** ZURÜCK-LINK ****/
.zurueck-container {
	padding-top: 10px;
	padding-bottom: 10px;
}
.zurueck-container a {
	color: black;
	text-decoration: underline;
}
.zurueck-container:hover {
	color: #c6d138;
}
a.arrow-left, .uk-card-body a.arrow-right {
	color: white;
}

/**** CONTENT ****/
.uk-container {
  margin-bottom: 1.2rem;
}
.uk-container:first-of-type {
  margin-bottom: 0;
}

h2 {
  font-family: anivers, sans-serif;
  font-size: 3.2rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
h3 {
  font-family: anivers, sans-serif;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
p {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}
p:last-of-type {
  margin-bottom: 0;
}
.legende {
	font-size: 1.4rem;
	line-height: 1.8rem;
	margin-bottom: 3rem;
}
.text-inhalt {
  background-color: #eaeaea;
}
.text-inhalt li {
  font-size:2rem;
  list-style-type: square;
}
.text-inhalt ul {
  margin:0;
  padding:2.125rem;
}
.uk-icon-button {
  background-color: #575756;
  color: white;
  margin-right: 0.75rem;
}
.uk-icon-button:focus, .uk-icon-button:hover {
  background-color: #c6d138;
  color: white;
  outline: 0;
}
.text-inhalt.uk-grid {
    margin-left: 0 !important;
}
.text-inhalt .uk-first-column {
    padding-left: 0;
}

/**** CARD ****/

.uk-card {
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.uk-card div:first-of-type {
  margin-bottom: 3rem;
}
.uk-card-body {
  margin: 0;
  padding: 0;
}
.uk-card-title {
  font-weight: 900;
  color:black;
  margin: 0;
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.uk-card-media-bottom, .uk-card-media-top {
  padding: 0;
  display: flex;
  justify-content: center;
	margin-bottom: 1.5rem;
}
.uk-card-media-bottom img.small, .uk-card-media-top img.small {
  width: 75%;
}
.uk-card-media-bottom img {
	width: 100%;
}
.uk-card-body p {
  margin-top: 0;
  font-size: 1.8rem;
  line-height: 2.5rem;
hyphens: auto;
}
.uk-card-body a {
  color: black;
  text-decoration: underline;
}
.uk-card-body a:hover {
  color: #c6d138;
}
.uk-grid-column-small, .uk-grid-small {
  margin-left: -0.4rem;
}
.uk-grid-column-small > *, .uk-grid-small > * {
  padding-left: 0.4rem;
}
.uk-grid-small a:nth-child(n+5) {
  padding-top: 0.4rem;
}

/**** DOWNLOADS ****/
.abstand-downloads {
margin-top:2rem;
margin-bottom: 2rem;
}
.listpunkt-accordion {
	list-style-type: none !important;
}

.uk-accordion {
    padding: 0 !important;
}	
.uk-accordion-title {
  display: block;
  font-family: anivers, sans-serif;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #333;
  overflow: hidden;
}

/**** AKTUELLES ****/
.card-news {
	margin-bottom: 1.4rem !important;
}
.card-news .uk-card-body p {
    margin-bottom: 1rem;
}
.card-news .uk-card-titel-h3 {
	margin-top: 0;
	margin-bottom: 1.5rem;
}
.uk-card.card-news div:first-of-type {
	margin-bottom: 0;
}

/**** PLZ-SUCHE ****/
#map {
    width:100%;
    height:40rem;
}
.dist {
    display:inline-block;
    width:4rem;
    float: right;
    padding-right:6.5rem;
}
ul#loc_results {
  padding-left: 0;
  padding-right: 0;
}
ul#loc_results li {
  list-style: none;
  background-color: transparent;
  padding: 0.75rem;
}
ul#loc_results li:nth-child(odd) {
  background-color: #dadada;
}
.checkbox-wrapper {
	margin-bottom: 0.5rem;
}
.marker-icon {}
.checkbox-box {
	margin-right: 0.5rem;
	border: 1px solid #aaa;
}
.checkbox-label {
	margin-left: 0.5rem;
	font-size: 1.6rem;
}
.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
    background-color: #c6d138;
    border-color: transparent;
}


/**** FORMULAR ****/
.uk-form-label {
    color: black;
    font-size: 1.8rem;
}
.uk-button-default {
    background-color: transparent;
    color: black;
    border-color: black;
    font-size: 1.8rem;
}
.uk-button-default:focus, .uk-button-default:hover {
    background-color: #c6d138;
    color: black;
    border-color: #c6d138;
}
yform-allgemeinform-field-12 {
    font-size: 1.8rem;
}
	

/**** SPENDE-TOOL ****/
#lema-container.lema-container .lema-step-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
#lema-container.lema-container .lema-step-number span {
  margin-left: 1.5rem;
}
#lema-container.lema-container.lema-container-kagfr-27a1 {
  max-width: 100%;
  width: 100%;
}
#lema-container.lema-container .lema-step-header-text {
  font-family: myriad-pro, sans-serif !important;
  font-weight: 400;
  text-transform: uppercase;
}
#lema-container.lema-container .lema-radio-label {
  font-family: myriad-pro, sans-serif !important;
  font-weight: 400;
}
.select2-results li {
  font-family: myriad-pro, sans-serif !important;
  font-weight: 400;
}
#lema-container.lema-container .lema-content {
  font-family: myriad-pro, sans-serif !important;
  font-weight: 400;
}
#lema-container.lema-container .lema-button {
  font-family: myriad-pro, sans-serif !important;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.8rem !important;
  letter-spacing: 0.5rem
}
#lema-container.lema-container .lema-button {
    opacity: 1;
    text-decoration: none;
    background: #c6d138 !important;
    color: black !important;
}
#lema-container.lema-container .lema-button:hover, #lema-container.lema-container .lema-button.active {
    opacity: 1 !important;
    text-decoration: none;
    color: #c6d138 !important;
    background: #575756 !important;
}
#lema-container.lema-container .lema-security {
  font-family: myriad-pro, sans-serif !important;
  font-weight: 400;
}

/**** FOOTER ****/
/* .page-wrapper {
    min-height: calc(100% - 20rem);
    margin-bottom: -20rem;
}
.page-wrapper:after {
    content: "";
    display: block;
}
.page-footer, .page-wrapper:after {
    height: 20rem;
} */

.uk-margin-top.page-footer {
  margin-top: 15rem !important;
}
.page-footer .text-inhalt {
  border-top: 0.4rem solid #c6d138;
  width: 100%;
}
.page-footer {
  display: flex;
  align-items: stretch;
}
.page-footer .uk-container {
  width: 100%;
  display: flex;
  align-items: stretch;
}

/* CSS FILIP */
.wrapper-footer a {
  color: black;
  text-decoration: underline;
	font-weight: 600;
}
.wrapper-footer a:hover {
  color: #c6d138;
}
.wrapper-footer {
  border-top: 7px solid #C6D138;
  background-color: #eaeaea;
  display: flex;
  width: 100%;
  min-height: 25rem;
  font-size: 1.6rem;
  padding: 0 1.5rem 0 3rem;
}
.box-1 {
  width: 24%;
  position: relative;
}
.box-2 {
  width: 25%;
}
.box-3 {
  width: 34%;
  position: relative;
}
.box-4 {
  width: 17%;
}
li {
  list-style-type: none;
}
ul {
  padding: 0;
}
.box-1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  right: 8.5rem;
  top: 5.3rem;
  bottom: 5.3rem;
  width: 0.1rem;
  background-color: #c6d138;
}
.box-3::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  right: 8.5rem;
  top: 5.3rem;
  bottom: 5.3rem;
  width: 0.1rem;
  background-color: #c6d138;
}
.liste-titel {
  padding-top: 0.5rem;
}
.liste {
  padding-top: 7.1rem;
}
.titel {
  font-family: anivers, sans-serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  margin-top: 1.8rem;
}
.copyright {
  margin-top: 2rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 1199px) {
  .wrapper-footer {
    width: 100%;
  }
  .box-1 {
    width: 20%;
  }
  .box-2 {
    width: 29%;
  }
  .box-3 {
    width: 32%;
  }
  .box-4 {
    width: 19%;
  }
  .box-1::before {
    right: 4.25rem;
  }
  .box-3::before {
    right: 4.25rem;
  }
  .copyright {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 959px) {
  .wrapper-footer {
    width: 100%;
    padding: 0 3rem 3rem 3rem;
    min-height: 45rem;
    flex-wrap: wrap;
  }
  .box-1 {
    order: 3;
    width: 50%;
  }
  .box-2 {
    order: 1;
    width: 50%;
  }
  .box-3 {
    order: 2;
    width: 50%;
  }
  .box-4 {
    order: 4;
    width: 50%;
  }
  .box-1::before {
    display: none;
  }
  .box-3::before {
    display: none;
  }
  .copyright {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 639px) {
  .wrapper-footer {
    width: 100%;
    padding: 0 3rem 3rem 3rem;
    min-height: 80rem;
    flex-wrap: wrap;
  }
  .box-1 {
    order: 3;
    width: 100%;
  }
  .box-2 {
    order: 1;
    width: 100%;
  }
  .box-3 {
    order: 2;
    width: 100%;
  }
  .box-4 {
    order: 4;
    width: 100%;
  }
  .box-1::before {
    display: none;
  }
  .box-3::before {
    display: none;
  }
  .copyright {
    font-size: 1.3rem;
  }
	.liste {
  padding-top: 2rem;
}

/**** GRID ****/

.uk-grid {
  background-color: #ffffff;
}

/**** CONTAINER ****/

.uk-container:nth-child(5) {
  margin: 0 0 3rem 0;
}

/**** CARD ****/
.uk-card-media-bottom img {
	width: 85%;
}
.uk-card-media-bottom, .uk-card-media-top {
    padding: 0;
    display: inline-block;
    margin-bottom: 0;
	text-align: center;
}
.uk-card-titel-h3 {
  font-family: anivers, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 0;
}

.uk-card-text-box {
  margin: 3rem 0 3rem 0;
  padding: 0 15px 0 15px;
}

.uk-padding-large {
  margin: 0 0 0.7rem 0 !important;
}

.uk-padding-large-smartphone {
  margin: 0 0 0.7rem 0 !important;
}

.uk-padding-large-smartphone:last-child {
  margin: 0;
}

.card-smartphone {
	margin: 0 0 6rem 0;	
}

/**** INHALT UND LAYOUT ****/

.nav-container {
	margin-left: 0;
	margin-right: 0;
	background-color: white;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
}
.header-titel-desktop{
  display: none;
}
.header-titel-smartphone{
  display: block !important;
  padding-left: 0;
  padding-right: 0;
}
.header-titel-smartphone-text h1 {
  margin: 2rem 0 0.5rem 0;
  font-family: anivers, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}
.header-titel-smartphone-text p {
  margin: 0 0 0 0;
}
.header-titel-smartphone-text {
  display: block !important;
  margin: 0 0 2rem 0;
}
.uk-grid-stack {
  padding: 0;
}
.uk-padding-large {
padding: 0;
}
.text-inhalt{
margin: 0 0 5rem 0 !important;
background-color: #ffffff;
}
h1{
font-size: 4rem;
text-transform: capitalize;
visibility: block;
}
p{
font-size: 2rem;
}
.card-smartphone{
padding: 0;
}
.uk-padding-large-smartphone{
padding: 3rem 1.5rem 3rem 1.5rem;
}
.uk-container-smartphone{
margin: 0 0 2rem 0;
padding: 0;
}

.download-smartphone {
   display: none;	
}
.page-wrapper {
    min-height: 0;
    margin-bottom: 0;
}
.page-wrapper:after {
    content: "";
    display: block;
}
.page-footer, .page-wrapper:after {
    height: 2rem;
}
.uk-margin-top	{
    margin: 0 !important;
}
.wrapper-footer{
padding: 0 1.5rem 0 1.5rem;
}
	
}

@media only screen and (min-device-width: 639px) {
.header-titel-smartphone {
  display: none;
}
.header-titel-smartphone-text {
  display: none;
}
}

/**** NAVI MOBILE ****/

@media only screen and (max-device-width: 1199px) {




#mobile-navbar .uk-offcanvas-bar {
  /*box-shadow: 2px 0 5px 0 #0e0e0e;*/
  width: 100vw;
}
.uk-offcanvas-flip .uk-offcanvas-bar {
  left: auto;
  right: -100vw;
}
.uk-offcanvas-bar {
  left: -100vw;
}

#mobile-navbar li:nth-child(1),
#mobile-navbar li:nth-child(2),
#mobile-navbar li:nth-child(3) {
  border-left: unset;
}

#mobile-navbar li {
  padding-left: 0px;
  border-left: 2px solid transparent;
}

#mobile-navbar li.uk-active {
  padding-left: 5px;
  border-left: 2px solid #545454;
}

.uk-sticky-fixed {
  /*box-shadow: 0 1px 5px 0 #0e0e0e;*/
}

}

.uk-navbar-right ul.uk-navbar-nav li a{
	min-height: 0rem;
	align-items: none;
}

.uk-nav-divider{
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.uk-navbar-toggle{
	padding: 0px !important;
}

.uk-nav-primary > li > a{
	padding: 8px;
	font-size: 2.2rem;
	letter-spacing: 0.3px;
}

.uk-offcanvas-close{
	right: 15px;
	padding: 0px;
}

.uk-nav-sub a {
    padding: 4px 0;
    font-size: 2rem;
	letter-spacing: 0.3px;
}
